<h1>Exchange</h1>

<%= form_tag(:action => :recharge, :method => :post ) do %>
  <p>
    <%= label_tag :nick_name %><br>
    <%= text_field_tag :nick_name %>
  </p>

  <p>
    <%= label_tag :code %><br>
    <%= text_field_tag :code %>
  </p>
 
  <p>
    <%= submit_tag %>
  </p>
<% end %>
(Don't have the ExchangeCode?)<a href="#">Get ExchangeCode</a> <br>
(Query the exchange record.)<a href=<%= record_chao_users_path %>>The Record</a>
