<h1>Exchange</h1>

<%= form_tag(chao_recharge_path, :method => :post ) do %>
    <%= label_tag :nick_name %><br>
    <%= text_field_tag :nick_name %>  <%= flash["user_error"] if flash["user_error"].present? %> 
  </p>

  <p>
    <%= label_tag :code %><br>
    <%= text_field_tag :code %> 
    <%= flash["code_error"] if flash["code_error"].present? %> 
    <%= flash["code_user_id"]  if flash["code_user_id"].present? %>
  </p> 
  <p>
    <%= submit_tag :Recharge %>
  </p>
<% end %>
(Query the exchange record.)<a href=<%= record_chao_users_path %>>The Record</a>
