<h1>Recharging Online</h1>

<%= form_for @exchange_code ,url:create_chao_exchange_code_path ,:method => :post do |f| %>
  <p>
    <%= f.label :coin_count %><br>
    <%= f.text_field :coin_count %> <label id="new-message"></label>
  </p> 
  <p>
    <%= f.submit :Generate_code, :class => "s-new-code-submit" %>
  </p>

<% end %>
<%= link_to 'Back',chao_exchange_codes_path %>
