<h1>The Exchange Record</h1>

<%= link_to 'User Recharge',exchange_path %>
<table>
  <tr>
     <th>exchange Code</th>
     <th>Coin  Count  </th>
     <th>User </th>
     <th>Date</th>
   </tr>
   <% @records.each do |record| %>
     <tr>
       <td><%= record.code %></td>
       <td><%= record.coin_count %></td>
       <td><%= @user.find(record.user_id).nick_name %></td>
       <td><%= record.date %></td>
     </tr>
   <% end %>
 </table>
	
