<h1>All User</h1>

<%= link_to 'Home', :root %>  |
  <%= link_to 'New User', new_chao_user_path %>
<table>
  <tr>
    <th>User Name</th>
    <th>Coin</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.nick_name %></td>
      <td><%= user.coin_count %></td>
      <td><%= link_to 'Show', chao_user_path(user) %></td> 
      <td><%= link_to 'Edit', edit_chao_user_path(user) %></td>
      <td><%= link_to 'Destroy',destroy_chao_user_path(user), :method => :delete , data: {confirm:'Are you sure?' } %></td>
    </tr> 
  <% end %>
</table>
