<h1>New User</h1>
<%= form_for @user, url: create_chao_user_path , :method => "post" do |f| %>
   <p>
     <%= f.label :nick_name %><br>
     <%= f.text_field :nick_name %> <%= @user.errors.messages[:nick_name][0] if @user.errors.messages[:nick_name].present? %>
   </p>

   <p>
     <%= f.submit %>
   </p>
<% end %>
<%= link_to 'Back to Index', chao_users_path %>
